.content-box {
    font-family: "Funnel Sans", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    background-color: var(--mercury);
    border: 3px solid var(--ebony-clay);
    border-radius: 5px;
}
.input-div {
    border: 0.5px solid gray;
    border-radius: 5px;
}
textarea {
    height: 12vh;
    resize: none;
}
.ingredient-div {
    border: 0.5px var(--ebony-clay) solid;
    border-radius: 20px;
    height: 3rem;
    width: 12rem;
    background-color: var(--mercury);
    color: var(--ebony-clay);
    font-weight: bold;
}
i {
    font-size: 1.2rem;
    cursor: pointer;
    padding: 0.5rem;
}
.unit-span {
    border: 0.5px white solid;
    background-color: var(--ebony-clay);
    color: white;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.35rem;
    border-radius: 90px;
}